<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <p><%= link_to "OTOSUTA", "/" ,class:"no-underline"%></p>
    <div class="site">
      <p>音楽教室検索サイト</p>
    </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <% if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "教室一覧", rooms_path, class: "item" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"item" %> 
        </li>
        <li class="nav-item">
          <%= link_to "教室を掲載する", new_music_path, class:"item" %> 
        </li> 
      </ul>
       <% else %> 
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "教室一覧", rooms_path, class: "item" %> 
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class:"item" %> 
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class:"item" %>
        </li> 
      </ul>
      <% end %>
    </div>
  </nav>
</header>