<%= stylesheet_link_tag "user/new", :media => "all" %>
<%= stylesheet_link_tag "shared/header", :media => "all" %>
<%= render "shared/header" %>

<div class="contents row">
  <div class="container">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class=list>
    <ul class="list-group">
      <li class="list-group-item st bg-light">メールアドレス </li>
      <li class="list-group-item st bg-light">パスワード</li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item"><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form" %></li>
      <li class="list-group-item"><%= f.password_field :password, autocomplete: "current-password",class: "form" %></li>
    </ul>
  </div>
  <div class='actions'>
      <%= f.submit "ログイン", class: 'btn'%>
  </div>
    <% end %>
  </div>
</div>

