
<main>
<div class="header-img">
    <div class="title">
      <%= link_to "OTOSUTA", "/" ,class:"no-underline"%>
      <p>音楽教室検索サイト</p>
    </div>
  </div>
  <div class="container">
    <div class="nav">
    
    </div>
    <div class="room-index">
      <%= link_to "教室一覧", rooms_path, class: "lists" %>
    </div>
  </div>
  
 
  <%= search_form_for @q, url: musics_search_path do |f| %>
    <%= f.label :name_cont, "教室名" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "検索" %>
    <br>
    <%= f.label :genres_id_in, '楽器' %>
    <%= f.collection_check_boxes :genres_id_in, @genre, :id, :name %>
    <br>
    <%= f.label :prefecture_id_eq, '都道府県' %>
    <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし' %>
    <br>
    <%= f.submit '検索' %>
    <br>
  <% end %>


  <div class="search-form">
    <div class="form-input">
      <input class="search" placeholder="キーワードから探す">
    <input class="form-submit" type="submit" value="検索する">
    </div>
  </div>
</div>
</main>
