<main>
  <div class="container">
    <div class="title">
      <%= link_to "OTOSUTA", "/" ,class:"no-underline"%>
    </div>
    <div class="nav">
    <% if user_signed_in? %>
      <div class= "user_nav grid-6">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "登録する", new_music_path, class: "post" %>
      </div>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </div>
    <% end %>
    </div>
    <div class="room-index">
      <%= link_to "教室一覧", rooms_path, class: "lists" %>
    </div>
  </div>
  
 
  <%= search_form_for @q, url: musics_search_path do |f| %>
    <%= f.label :name, "keyword" %>
    <%= f.search_field :name_cont_any %>
    <%= f.submit "検索" %>

    <%= f.label :prefecture_id_eq, '都道府県' %>
    <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし' %>
    <br>
    <%= f.submit '検索' %>
    <br>
  <% end %>


  <div class="search-form">
    <div class="form-input">
      <input class="search" placeholder="キーワードから探す">
    <input class="form-submit" type="submit" value="検索する">
    </div>
  </div>
</div>
</main>
