
<%= render "shared/header" %>
<main>
<div class="contents">
  <div class="header-img">
    <div class="main-title">
      <h2>音楽教室検索</h2>
    </div>

    <div class="main-container">
      <%= search_form_for @q, url: musics_search_path do |f| %>
      <ul>
        <li>
          <%= f.label :name_cont, "教室名" %>
          <%= f.search_field :name_cont %>
          <%= f.submit "検索", class:"btn"%>
        </li>
        <li>
          <%= f.label :prefecture_id_eq, '都道府県' %>
          <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし' %>
          <%= f.submit '検索', class:"btn" %>
        </li>
      </ul>
        <div class="mx-auto" style="width: 70%;">
          <%= f.label :genres_id_in, '楽器' %>
          <br>
          <%= f.collection_check_boxes :genres_id_in, @genre, :id, :name %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<main>
<%= render "shared/footer" %>
