<%= stylesheet_link_tag "musics/index", :media => "all" %>
<%= stylesheet_link_tag "shared/header", :media => "all" %>
<%= stylesheet_link_tag "shared/footer", :media => "all" %>



<%= render "shared/header" %>
<main>
<div class="contents">
  <div class="header-img">
    <div class="main-title">
      <h2>音楽教室検索</h2>
    </div>

    <div class="main-container">
      <%= search_form_for @q, url: musics_search_path do |f| %>
        <div class="mx-auto" style="width: 60%;">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                 <div class="name">
                   <%= f.label :name_cont, "教室名" %>
                   <%= f.search_field :name_cont %>
                   <%= f.submit "検索", class:"btn"%>
                 </div>
                 <div class="prefecture">
                   <%= f.label :prefecture_id_eq, '都道府県' %>
                   <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: '指定なし' %>
                   <%= f.submit '検索', class:"btn" %>
                 </div>
                 <div class="panel-title ">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%= f.label :genres_id_in, '楽器選択', class: "genre-btn" %>
                  </div>
                </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <%= f.collection_check_boxes :genres_id_in, @genre, :id, :name %>
                </div>
              </div>
            </div>
          </div>   
       <% end %>
    </div>
  </div>
</div>
<main>
<%= render "shared/footer" %>