<%= stylesheet_link_tag "musics/new", :media => "all" %>
<%= stylesheet_link_tag "shared/header", :media => "all" %>
<%= stylesheet_link_tag "shared/footer", :media => "all" %>

<%= render "shared/header" %>

<div class="musics-register-contents">
  <div class="musics-register-main">
    <h2 class="musics-register-title">教室の情報を入力</h2>
    <div class="explanation">
      <div class="container ">
        <%= form_with model: @music, url:musics_path, local: true do |f| %>
        <div class="row">
          <div class="col bg-light">教室画像</div>
          <div class="col"><%= f.file_field :image, id:"item-image" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">教室名  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_area :name, class:"room-name", id:"music-name", placeholder:"教室名（必須 40文字まで）", maxlength:"40" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">教室の説明  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_area :content, class:"musics-text", id:"music-info", placeholder:"教室の説明（必須 最大1,000文字まで）", rows:"7",maxlength:"1000"%></div>
          <div class="w-100"></div>
          <div class="col bg-light">ジャンル  <span class="indispensable">[必須](複数可)</span></div>
          <div class="col-md-6 checkbox-list"><%= f.collection_check_boxes(:genre_ids, @genre, :id, :name, {} ,{class:"select-box", id:"genre"}) %></div>
        </div>
        <div class="row">
          <div class="col bg-light">郵便番号  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :post_code, class:"input-default-post", id:"post-code", placeholder: "123-4567", maxlength:"8" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">都道府県  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %></div>
        </div>
        <div class="row">
          <div class="col bg-light">市町村  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :city, class:"input-default", id:"city", placeholder:"横浜市緑区" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">番地  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :house_number, class:"input-default", id:"house-number", placeholder:"青山1-1-1" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">建物名</div>
          <div class="col"><%= f.text_field :building_name, class:"input-default", id:"building-name", placeholder:"OTOSUTAビル103" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">最寄り駅  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :station, class:"input-default", id:"station", placeholder:"JR横浜駅" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">駅徒歩(分)  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :walk, class:"input-default", id:"walk", placeholder:"10" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">電話番号  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :phone_number, class:"input-default-phone", id:"phone-number", placeholder:"09012345678", maxlength:"8" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">メールアドレス  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :mail, class:"input-default", id:"mail", placeholder:"PC・携帯どちらでも可" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">担当者名  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :representative, class:"input-default", id:"representative", placeholder:"otosuta太郎",maxlength:"20" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">営業時間  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_field :hour, class:"input-default", id:"hour", placeholder:"12時00分〜21時00分" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">定休日</div>
          <div class="col"><%= f.text_field :holiday, class:"input-default", id:"holiday", placeholder:"毎週火曜日" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">オフィシャルサイト</div>
          <div class="col"><%= f.text_field :url, class:"input-default-url", id:"url", placeholder:"http://www.otosuta.jp/.com" %></div>
          <div class="w-100"></div>
          <div class="col bg-light">授業料  <span class="indispensable">[必須]</span></div>
          <div class="col"><%= f.text_area :fee, class:"musics-text", id:"fee", placeholder:"1レッスン/60分 5,000円", rows:"7",maxlength:"1000" %></div>
        </div>
        <div class="row">
          <div class="col bg-light">備考</div>
          <div class="col"><%= f.text_area :remarks, class:"musics-text", id:"remarks", rows:"7",maxlength:"1000" %></div>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-contents">
                  <%= link_to 'もどる', musics_path, class:"btn"%>
                </div>
              </div> 
                <div class="col-md-6">
                  <div class="btn-contents"> 
                    <%= f.submit "登録する", class:"btn" %>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>


    <%# 教室画像 %>
    <%# <div class="img-upload">
      <div class="weight-bold-text">
      教室画像
      </div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"item-image" %>
      <%# </div>
    </div>  %>
    <%# 教室画像 %>

    <%# 教室名と教室説明 %>
    <%# <div class="new-music">
      <div class="weight-bold-text">
      教室名
      <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"musics-text", id:"music-name", placeholder:"教室名（必須 40文字まで）", maxlength:"40" %>
      <%# <div class="musics-explain">
        <div class="weight-bold-text">
          教室の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :content, class:"musics-text", id:"music-info", placeholder:"教室の説明（必須 最大1,000文字まで）", rows:"7",maxlength:"1000"%>
      <%# </div>
    </div>  %>
    <%# 教室名と教室説明 %>

    <%# 教室の詳細 %>
    <%# <div class="musics-detail">
      <div class="weight-bold-text">教室の詳細</div> %>
    <%# 教室の詳細 %>
    <%# ジャンル %>
      <%# <div class="form">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須(複数可)</span>
        </div>
        <%= f.collection_check_boxes(:genre_ids, @genre, :id, :name, {} ,{class:"select-box", id:"genre"}) %>
      <%# </div>  %>
    <%# ジャンル %>

    <%# 住所 %>
      <%# <div class="form">
        <div class="weight-bold-text">
          郵便番号
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :post_code, class:"input-default", id:"post-code", placeholder: "例)123-4567", maxlength:"8" %>
        <%# <div class="weight-bold-text"> %>
          <%# 都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
        <%# <div class="weight-bold-text">
          市町村
          <span class="indispensable">必須</span> %>
        <%# </div>  %>
        <%# <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区" %>
        <%# <div class="weight-bold-text">
          番地
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :house_number, class:"input-default", id:"house-number", placeholder:"例）青山1-1-1" %>
        <%# <div class="weight-bold-text">
          建物名
          <span class="indispensable">任意</span>
        </div> %>
        <%# <%= f.text_field :building_name, class:"input-default", id:"building-name", placeholder:"例）OTOSUTAビル103" %>
    <%# </div> %>
    <%# 住所 %>

    <%# 駅、徒歩 %>
    <%# <div class="form">
        <div class="weight-bold-text">
          最寄り駅
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :station, class:"input-default", id:"station", placeholder:"例）JR横浜駅" %>
        <%# <div class="weight-bold-text">
          駅徒歩(分)
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :walk, class:"input-default", id:"walk", placeholder:"例）10" %>
      <%# </div>  %>
    <%# </div>  %>
    <%# 駅、徒歩 %>

    <%# 連絡先 %>
    <%# <div class="form">
      <div class="weight-bold-text">
          TEL
          <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11" %>
      <%# <div class="weight-bold-text">
        mail
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :mail, class:"input-default", id:"mail", placeholder:"PC・携帯どちらでも可" %>
    <%# </div>  %>
    <%# 連絡先 %>

    <%# 代表者、営業時間、定休日 %>
    <%# <div class="form">
      <div class="weight-bold-text">
        担当者名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :representative, class:"input-default", id:"representative", placeholder:"例）otosuta太郎",maxlength:"20" %>
      <%# <div class="weight-bold-text">
        営業時間
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :hour, class:"input-default", id:"hour", placeholder:"例）12時00分〜21時00分" %>
    <%# </div>
    <div class="weight-bold-text">
        定休日
        <span class="indispensable">任意</span>
      </div> %>
      <%# <%= f.text_field :holiday, class:"input-default", id:"holiday", placeholder:"例）毎週火曜日" %>
    <%# </div> %>
    <%# 代表者、営業時間、定休日 %>

    <%# URL、授業料 %>
    <%# <div class="form">
      <div class="weight-bold-text">
        オフィシャルサイト
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_field :url, class:"input-default", id:"url", placeholder:"例）http://www.otosuta.jp/.com" %>
      <%# <div class="weight-bold-text">
        授業料
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :fee, class:"input-default", id:"fee", placeholder:"例）1レッスン/60分 5,000円", rows:"7",maxlength:"1000" %> 
    <%# </div>  %>
    <%# URL、授業料 %>

    <%# 備考欄 %>
    <%# <div class="form">
      <div class="weight-bold-text">
        備考欄
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_area :remarks, class:"input-default", id:"remarks", rows:"7",maxlength:"1000" %>
    <%# </div>  %>
    <%# 備考欄 %>
    <%# <div class="register-btn-contents">
      <%= f.submit "登録する", class:"register-btn" %>
      <%# <%= link_to 'もどる', root_path, class:"back-btn"%>
    <%# </div>  %>
    <%# <% end %>

